@charset "UTF-8";

/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
/* img {
  max-width: 100%;
  display: block;
} */
/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  color: #000000;
  text-decoration: none;
}

html,
body {
  height: 100%;
  line-height: 1;
  scroll-behavior: smooth;
}

body {
  font-family: "Geometria";
  font-weight: 500;
  font-size: 0.875rem;
  color: #000000;
}

label,
input {
  color: #000000;
  display: block;
  width: 100%;
}

input {
  height: 40px;
  padding: 10px 14px;
  margin-bottom: 24px;
  border-radius: 4px;
  border: 1px solid #DBDBDB;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

[class*=__container] {
  max-width: 1290px;
  width: 100%;
  margin: 0px auto;
  color: #fff;
  padding: 0 15px;
}


.services {
  min-height: 1193px;
  background-color: #F4F7FB;   
  padding-top: 66px;
}

.services__up-title {
  text-align: center;
  margin-bottom: 40px;
}

.services__loader-item { 
  display: flex;
  width: 100%; 
  min-height: 100%;
}

.services__loader-item-img {  
  width: 100%;
  min-height: 100%;
}

.services__loader-item-img img { 
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.services__loaders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 83px;
  gap: 24px;
}

.services__loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services__info {
  display: -webkit-box;     
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal; 
  -ms-flex-direction: column;
  flex-direction: column;
  background: #000;
  border-radius: 0 16px 16px 0;
  padding: 24px;
  min-height: 461px; 
  max-width: 50%;
}

@media (max-width: 529px) {
  .services__info {
    min-width: 100%;
  }
}

.services__text-info {
  padding: 16px;
  position: relative;  
}

.services__block-title {
  margin-bottom: 8px;
  font-family: "Geometria";
  font-size: 20px; 
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /*white-space: nowrap;*/
}

@media (max-width: 529px) {
  .services__block-title {
    font-size: calc(21px + (40 * 0.7) * (100vw - 320px) / 1950);
  }
}

.services__subtitle {
  color: #181818;
  font-size: 14px;
  font-family: "Geometria";   
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /*white-space: nowrap;*/
}

.services ul {
  padding: 16px 16px 16px 5px;   
  list-style-type: none;
}

.services ul li {
  padding-left: 2rem;
  background-image: url(img/services/arrow.svg);   color: #fff;
  background-position: 0 -2px;
  background-repeat: no-repeat;
  margin-bottom: 10px;

}
/* 
.services ul li:nth-child(1) {
  top: 234px;
}


.services ul li:nth-child(2) {
  top: 261px;
}


.services ul li:nth-child(3) {
  top: 282px;
}

.services ul li:nth-child(4) {
  top: 300px;
} */

.services__item-text {
  font-size: 16px;
  font-family: "Geometria";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #181818;
  margin-left: 8px;
}

.services__price {
  margin-top: 17px;
  margin-bottom: 9px;
  text-align: center;
}

.services__price-num {
  font-size: 32px;
  font-family: "Geometria";
  font-style: normal;
  line-height: normal;
  color: #181818;
  margin-right: 7px;
  margin-top: 31px;
}

.services__small-text-char {
  color: #181818;
}



.bold {
  font-weight: 700;
}

.size {
  font-size: 16px;
}

.margin {
  display: block;
  padding-top: 39px;
}

@media screen and (max-width: 1175px) {
  .services__loaders {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .services__loader {
    max-width: 622px;
    width: 100%;
  }

  .services__loader-item {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
}

@media (max-width: 529px) {
  .services__loader-item-img {
    display: none;
  }

  .services__loader-item {
    width: 100%;
  }
}

[class*="__button"] {
  display: flex;
  max-width: 324px;
  max-height: 46px;
  width: 100%;
  margin-top: 62px;
  padding: 12px 71px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 0;
  color: #181818;
  font-family: 'Geometria';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  background: #F2C824;
}
